/* 보기형식 변경 버튼 */
#listStyleBtns {
  margin-right: 10%;
  margin-bottom: 20px;
  text-align: right;
}
#listStyleBtns button {
  vertical-align: middle;
  border-width: 2px;
  border-radius: 5px;
  padding: 7px;
  background-color: {{ var.defaultColor.listBack }};
  background-color: var(--listBack);
}