/* 보기형식 변경 버튼 */
#listStyleBtns {
  margin-right: 10%;
  margin-bottom: 20px;
  text-align: right;
  font-family: {{ settings.font.deco }};
}
#listStyleBtns button {
  vertical-align: middle;
  padding: 7px;
}