
<div class="settingForm"><!-- 보기형식 변경 -->
  <input type="hidden" class="settingCore" name="listStyle" value="[##_list_style_##]" onchange="onchangeListStyle(this)" />
  <menu id="listStyleBtns">
    <span style="font-family: {{ settings.font.handwriting }};">보임새: </span>
{% for id, value in settings.liststyle.options.items() %}
    <button class="settingAction clickValue" value="{{ id }}"
  >{% include "skin-comps/main/리스트/liststyle/controller/button-" + id + ".html" %}</button>
{% endfor %}
    <input type="checkbox" class="fixCbox" /><label class="fixCboxLabel">굄</label>
    <script>
      function onchangeListStyle( settingCore ){
        setListStyle( settingCore.value );
      }

      //// 보임새 설정
      function setListStyle( style ){
        document.getElementById('postList').className = style;
      }
    </script>
  </menu>
</div>