/**### 사이드바1 */
#sidebarBox1 {
  left: -304px;/* 사이드바너비 + 경계선 */
  border-right-width: 4px;
  border-right-style: double;
}
#sidebarBox1.open ,
#sidebarBox1.flat {
  left: 0px;
}

#sidebarBtnBox1 {
  position: absolute;
  top: 0;
  right: -30px;
  box-sizing: border-box;
  height: 100%;
  padding: 5vh 0 10px 0;
  transition: right 0.3s;
  pointer-events: none;/* 컨테이너는 투명배경이므로 클릭 무시 */
}
#sidebarBox1.fold:not(.open) > #sidebarBtnBox1.hideByScrolling {
  right: 0px;
}
#sidebarBox1.flat > #sidebarBtnBox1 {
  display: none;
}
#sidebarBtnBox1 .sidebarBtn {
  position: fixed;/* 호환 */
  position: sticky;
  display: block;
  width: 30px;
  height: 50px;
  transition: left 0.12s ease-out, right 0.12s ease-out;
  top: 5vh;
  border-radius: 0 12px 12px 0;
  border-left-width: 0;
  pointer-events: auto;
}
#sidebarBox1.open .sidebarBtn {/* >>themeBtn:hover */
  left: 300px;
  background-color: {{ var.defaultColor.highlight }};
  background-color: var(--highlight);
  color: black;
}

#sidebar1 {
  text-align: center;
}
#sidebar1 > :first-child {
  margin-top: 20px;
}
#sidebar1 > * {
  margin-bottom: 50px;/* 내부 모듈들 사이 여백 */
}