
<!--## 사이드바상자2 : 오른쪽 사이드바 영역 -->
<div id="sidebarBox2" class="sidebarBox fold close-onclick-outside"><!-- 클래스 초기상태: 모두 접힘 -->
  <aside id="sidebar2" class="sidebar sidebarV"><s_sidebar>
    {% include "skin-comps/sidebars/elements/현재시각.html" %}
    {% include "skin-comps/sidebars/elements/본문목차.html" %}
    {% include "skin-comps/sidebars/elements/인블로그설정.html" %}
    {% include "skin-comps/sidebars/elements/이블로그는.html" %}
  </s_sidebar></aside>
  <div id="sidebar2Remocon"><button id="sidebar2X" class="themeBtn">&#x2715;</button></div>
  
</div><!-- 사이드바상자2 ##-->