/**### 사이드바3 */
#sidebar3 {
  border-top-style: double;
  border-top-width: 5px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}
#sidebar3 > * {
  display: inline-block;
  margin: 30px 2px;
  padding: 10px;
  vertical-align: top;
  border-radius: 8px;
  box-shadow: inset 0px 0px 20px var(--listBack);
}
#sidebar3 .revenue_unit_wrap {
  border-width: 2px;
}