
<!--## 사이드바상자2 : 오른쪽 사이드바 영역 -->
<div id="sidebarBox2" class="sidebarBox home-[##_var_home_sidebar2_##] fold close-onclick-outside">
  <aside id="sidebar2" class="sidebar sidebarV"><s_sidebar>
{% with
  sidebaritems=[
    {
      'id': 'datetime',
      'name': '현재시각',
    },
    {
      'id': 'bonmunContentsTable',
      'name': '본문목차',
      'bubbleBtn': '&#x2630;',
    },
    {
      'id': 'settings',
      'name': '설정',
      'bubbleBtn': '&#x2699;&#xFE0F;',
    },
  ]
%}
{% for sidebaritem in sidebaritems %}
  {% include "skin-comps/sidebars/elements/" + sidebaritem.id + ".html" %}
{% endfor %}
{% endwith %}
  </s_sidebar></aside>
  <div id="sidebar2Remocon"></div>
</div><!-- 사이드바상자2 ##-->