/**### 세로 사이드바 스크롤 */
/* 사이드바1은 항상; 사이드바2는 flat 상태만 해당 */
.sidebarBoxV {
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
}
.sidebarBoxV.flat ,
.sidebarBoxV.open {
  position: absolute;
  overflow: visible;/* visible이어야 자식에서 sticky 적용 됨  */
}
.sidebarV {
  position: fixed;
  position: sticky;
  top: 0px;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}
.sidebarV > * {
  display: block;/* 세로로 쌓기 */
}
.sidebarBoxV:hover .sidebarV {
  overflow: auto;
}