/**### 사이드바3 */
#sidebar3 {
  border-top-style: double;
  border-top-width: 5px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}
#sidebar3 > * {
  display: inline-block;
  margin: 30px 2px;
  vertical-align: top;
}