
/* ## 사이드바 */
/*
사이드바1, 사이드바2 의 상태
- 접힘 .fold
- 펼침 .fold.open
- 열림 .flat
화면이 좁으면 접힘. 화면이 넓으면 열림.
접힘 상태에서 사용자 동작에 따라 펼침-접힘 상태 전환.
html 파일에서 스크립트로 클래스를 조작; css에서는 클래스에 따라 스타일링.
*/
.sidebarBox.open .sidebar ,
.sidebar:hover ,
#sidebar3 {
  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
}
.sidebarBox:hover ,
.sidebarBox.open ,
.sidebarBox.fold {
  z-index: 30;
  overflow: visible;
}
.sidebarBox ,
.sidebar {
  scrollbar-width: none;/* Firefox 스크롤바 숨기기 */
}
.sidebarBox::-webkit-scrollbar ,
.sidebar::-webkit-scrollbar {/* Chrome, Edge 등 스크롤바 숨기기 */
  display: none;
}
#mainH {
  margin: 0 auto;
}

{% include "skin-comps/sidebars/sidebar1.css" %}
{% include "skin-comps/sidebars/sidebar2.css" %}
{% include "skin-comps/sidebars/sidebarV.css" %}
{% include "skin-comps/sidebars/sidebar3.css" %}



{% include "skin-comps/sidebars/elements/base.css" %}
{% include "skin-comps/sidebars/elements/카테고리.css" %}
{% include "skin-comps/sidebars/elements/메뉴.css" %}
{% include "skin-comps/sidebars/elements/본문목차.css" %}
{% include "skin-comps/sidebars/elements/랜덤태그.css" %}
{% include "skin-comps/sidebars/elements/검색.css" %}
{% include "skin-comps/sidebars/elements/인블로그설정.css" %}
{% include "skin-comps/sidebars/elements/포스팅달력.css" %}
{% include "skin-comps/sidebars/elements/인기글-최근글-최근댓글.css" %}

/* 티스토리 플러그인 - 이미지 배너 */
.module_plugin > a > img {
  width: 300px;
  border-radius: 8px;
}
