
/* ## 사이드바 */
/*
사이드바1, 사이드바2 의 상태
- 접힘 .fold
- 펼침 .fold.open
- 열림 .flat
화면이 좁으면 접힘. 화면이 넓으면 열림.
접힘 상태에서 사용자 동작에 따라 펼침-접힘 상태 전환.
html 파일에서 스크립트로 클래스를 조작; css에서는 클래스에 따라 스타일링.
*/
.sidebarBox.open .sidebar ,
.sidebar:hover ,
#sidebar3 {
  background-color: #ffffff;
  background-color: var(--backCol);
}
.sidebarBox:hover ,
.sidebarBox.open ,
.sidebarBox.fold {
  z-index: 30;
  overflow: visible;
}
.sidebarBox ,
.sidebar {
  scrollbar-width: none;/* Firefox 스크롤바 숨기기 */
}
.sidebarBox::-webkit-scrollbar ,
.sidebar::-webkit-scrollbar {/* Chrome, Edge 등 스크롤바 숨기기 */
  display: none;
}
#main2 {
  margin: 0 auto;
}
/**### 사이드바1 */
#sidebarBox1 {
  left: -304px;/* 사이드바너비 + 경계선 */
  border-right: 4px double #ddd;
  border-right: 4px double var(--borderCol);
}
#sidebarBox1.open ,
#sidebarBox1.flat {
  left: 0px;
  overflow: visible;
}
#sidebarBox1 > .sidebarBtn {
  position: fixed;
  display: block;
  width: 30px;
  height: 50px;
  transition: left 0.12s ease-out, right 0.12s ease-out;
  top: 150px;
  left: 0px;
  border-radius: 0 12px 12px 0;
  border-left-width: 0;
}
#sidebarBox1.open > .sidebarBtn {/* >>themeBtn:hover */
  left: 300px;
  background-color: #f0ff40;
  background-color: var(--highlight);
  color: black;
}
#sidebarBox1.flat > .sidebarBtn {
  display: none;
}

/**### 사이드바2 */
/* 넓은 화면: 펴진채 */
#sidebarBox2.sidebarBoxV {
  right: 0px;
}
#sidebarBox2.open ,
#sidebarBox2.flat {
  overflow: visible;
}
#sidebarBox2.flat #sidebar2Remocon {
  display: none;
}
/* 좁은화면: 작은 단추만으로 표현. 단추를 누르면 모달창에 해당 요소만 표시. */
/*
사이드바2리모콘 #sidebar2Remocon : 축소된 사이드바2의 각 아이템을 여닫는 버튼들 모음.
html 파일에서 버튼은 각 사이드바아이템 안에 있지만 스크립트를 이용해서 그 중에 사이드바2의 것만 여기로 모아오고 나머진 삭제.
*/
#sidebarBox2.flat {
  right: 0px;
}
#sidebarBox2.fold {
  position: fixed;/* 호환 */
  position: sticky;
  bottom: 0px;
  right: 0;
  z-index: 20;
  margin-left: auto;
  width: 350px;
  max-height: 60vh;
  overflow: scroll;
  text-align: center;
}
#sidebarBox2.fold #sidebar2 {
  position: relative;
  margin: 20px 23px 0 23px;
  border: 2px solid #dddddd;
  border: 2px solid var(--borderCol);
  border-radius: 8px;
  height: unset;
  padding: 10px 0px;
  box-shadow: 0px 0px 20px #0004;
  background-color: #ffffff;
  background-color: var(--backCol);
  overflow: scroll;
}
#sidebarBox2.fold #sidebar2:not(.open) {
  display: none;
}
#sidebarBox2.fold #sidebar2 > .sidebar_element {
  margin-bottom: 0;
}
#sidebarBox2.fold #sidebar2 > .sidebar_element:not(.open) {
  display: none;
}
#sidebarBox2.fold #sidebar2Remocon .bubbleBtn ,
#sidebarBox2.fold #sidebar2X {
  display: inline-block;
  padding: 6px 10px;
  border-bottom-width: 0px;
  border-top-left-radius: 10px 100%;
  border-top-right-radius: 10px 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#sidebarBox2.fold #sidebar2Remocon {
  position: fixed;/*호환*/
  position: sticky;
  bottom: 0px;
  right: 0px;
  z-index: 20;
  text-align: right;
}
#sidebarBox2.fold #sidebar2Remocon > * {
  margin: 10px 0 0 10px;
}
@media (max-width: 800px) {/* 걍 적당히 잡은 크기 */
  #sidebar2Remocon > * {
    margin: 5px 0 0 5px;
  }
}
/* 가로로 길면 사이드바2 세로길이 꽉참 */
@media (min-aspect-ratio: 2/1) {
  #sidebarBox2.fold {
    max-height: 100vh;
  }
}

#sidebar1 .bubbleBtn ,
#sidebar3 .bubbleBtn {
  display: none;
}

/**### 세로 사이드바 스크롤 */
.sidebarBoxV {
  /* 위치 크기 */
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  /* 내부 */
  text-align: center;
  transition: left 0.12s ease-out, width 0.12s ease-out;
  overflow: hidden;/* 스크롤 위치가 보존되는 게 이거뿐이다. */
}
.sidebarBoxV.fold {
  background-color: #ffffff;
  background-color: var(--backCol);
}
.sidebarBoxV.flat ,
.sidebarBoxV.open {
  position: absolute;
  overflow: visible;/* visible이어야 자식에서 sticky 적용 됨  */
}
.sidebarV {
  position: fixed;
  position: sticky;
  top: 0px;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}
.sidebarV > .sidebar_element {
  display: block;/* 세로로 쌓기 */
  margin-bottom: 50px;/* 내부 모듈들 사이 여백 */
}
.sidebarV > *:first-child {
  margin-top: 20px;
}
.sidebarBoxV:hover .sidebarV {
  overflow: auto;
}

/**### 사이드바3 */
#sidebar3 {
  border-top: 5px double #ddd;
  border-top: 5px double var(--borderCol);
  padding-top: 20px;
  text-align: center;
}
#sidebar3 > * {
  display: inline-block;
  margin: 30px 2px;
  vertical-align: top;
}

{% include "skin-comps/sidebars/elements/base.css" %}
{% include "skin-comps/sidebars/elements/카테고리.css" %}
{% include "skin-comps/sidebars/elements/본문목차.css" %}
{% include "skin-comps/sidebars/elements/랜덤태그.css" %}
{% include "skin-comps/sidebars/elements/검색.css" %}
{% include "skin-comps/sidebars/elements/이블로그는.css" %}
{% include "skin-comps/sidebars/elements/인블로그설정.css" %}
{% include "skin-comps/sidebars/elements/인기글-최근글-최근댓글.css" %}
