
/**#### 댓글 */
/*
댓글영역 div#commentSec
├"댓글" h1.areaTitle
├댓글목록 ul.commentList
├댓글없음안내 p.listMsg
├댓글입력폼 div.formBox
└댓글비허용안내 p.formMsg
*/
/*
댓글 목록 ul.commentList.comment1List ─ 댓글 li 여럿
│
├댓글 div.comment.comment1.스킨치환자가지정하는클래스
│├영역1 div.area1
││├프사 img.propic
││└닉네임 span.writer
││
│├영역2 div.area2
││└내용 span.content
││
│└영역3 div.area3
│　├날짜 span.date
│　├답글 button
│　└수정삭제 button
│
└답글목록 ul.commentList.comment2List ─ 답글 li 여럿
　└답글 div.comment.comment2
  ├장식 span.tape
  └…(그외에 댓글과 마찬가지)
*/
.comment1List {
  max-width: 800px;
  margin: 30px auto;
  padding: 14px;
}
.comment1List > * {
  margin-top: 30px;
  margin-bottom: 30px;
}
.comment2 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  margin-right: auto;
}
.comment {
  position: relative;
  border-width: 1px;
  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
  padding: 6px;
}
.comment.rp_secret ,
.comment.guest_secret {
  border-left-style: dashed;
}
.comment .tape {
  width: 30px;
  height: 45px;
  top: -24px;
  left: 65px;
  transform: rotate(-7deg);
  z-index: 1;
}
.commentList > li:nth-child(10n) .tape {
  left: 65px;
  transform: rotate(7deg);
}.comment1 > .areaImg img {
  transform: rotate(-5deg);
}
.comment2 > .areaImg img {
  transform: rotate(5deg);
}
.comment > .areaImg img {/* 프사 */
  vertical-align: middle;
  border-width: 1px;
}

.comment > .area1 {
  margin-left: 39px;
  padding: 0.4em 0;
  text-align: left;
}
.comment .writer {/* 글쓴이 */
  font-weight: bold;
  font-family: {{ settings.font.handwriting }};
  vertical-align: middle;
}
.comment .writer > img {/* 티스토리 플러그인 - 블로그 아이콘 표시 */
  vertical-align: text-bottom;
}
.comment .area2 {/* 댓글 내용 */
  padding: 5px 10px;
  line-height: 1.4;
}
.comment .area3 {
  text-align: right;
}
.comment .date {/* 날짜 */
  vertical-align: bottom;
  font-size: 0.8em;
  font-family: {{ settings.font.handwriting }};
}
.comment .date > a {/* (티스토리 자동생성) 신고 버튼 */
  font-family: {{ settings.font.sans }};
}
.comment .themeBtn {/* 버튼 */
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin: 0 0 0 7px;
}
.rp_admin .writer::before ,
.guest_admin .writer::before {
  content: '\269C\FE0F';/*왕관*/
}
.rp_secret .writer::before ,
.guest_secret .writer::before {
  content: '\1F512';/*자물쇠 */
  font-size: 65%;
}

/*
댓글or방명록 폼 div.formBox
├비로그인용서식 p.guest
├내용입력란 textarea.commentInput
└div.submitBox
　├귓속말로 input#commentInput_secret
　├label
　└제출버튼 input.commentBtn
*/
#commentSec .formBox {
  max-width: 800px;
  margin-left: auto; margin-right: auto;
}
#commentSec .formBox label {
  display: inline-block;
  margin-top: 10px;
}
#commentSec .guest ,
#commentSec .submitBox {
  margin: 15px 10px;
}
#commentSec .commentInput {
  display: block;
  box-sizing: border-box;
  width: 96%;
  margin-left: auto; margin-right: auto;
  resize: vertical;
}
#commentSec .submitBox {
  text-align: right;
}
#commentSec .commentBtn {
  padding: 10px;
}
#commentSec .listMsg ,
#commentSec .formMsg {
  margin: 40px 0;
  text-align: center;
  font-family: {{ settings.font.serif }};
}


{% include "skin-comps/main/댓글과방명록/댓글.css" %}
{% include "skin-comps/main/댓글과방명록/방명록.css" %}