/**
메뉴 nav.blogMenu ─ ul ─ li ─ a
*/
.blogMenu {
  padding: 10px 10px;
}
.blogMenu li {
  display: inline-block;
  margin: 5px;
  position: relative;
}
.blogMenu li > a {
  display: block;
  padding: 10px 15px 10px 20px;
  border-radius: 0;
}
.blogMenu li::before {/* 왼쪽장식 */
  content: '';
  height: 90%; width: 0;
  position: absolute;
  top: 5%; left: -1px;
  border-left: 4px dotted {{ var.defaultColor.backCol }};
  border-left: 4px dotted var(--backCol);
}