<s_guest><!--### 방명록 페이지 --><div id="commentSec">
  <h1 class="areaTitle">누구누구 왔다감</h1>

{% with
  type='guest',
  name='방명록',
  s_for_member='s_guest_form',
  textarea_name='[##_guest_textarea_body_##]',
  s_reply_container='s_guest_reply_container',
  s_reply_rep='s_guest_reply_rep'
%}
{% include "skin-comps/pages/댓글과방명록/base/폼.html" %}

  <div id="pagingCopy" class="paging"></div>

{% include "skin-comps/pages/댓글과방명록/base/목록.html" %}
{% endwith %}

  <p class="listMsg"></p>

  <script type="text/javascript">
    //// 댓글목록 비었으면 표시
    if( document.querySelector('#commentSec .commentList').childElementCount === 0 ){
      document.querySelector('#commentSec .listMsg').innerText = '방명록이 없습니다.';
    }
  </script>
</div></s_guest>