/**### 사이드바아이템 - 카테고리
카테고리 nav#navCat
└카테고리 ul.tt_category ─ li
　├분류전체보기 a.link_tit
　└상위카테고리 ul.category_list ─ li 여럿
　　├해당 a.link_item
　　└하위카테고리 ul.sub_category_list (없으면 없음) ─ li ─ a.link_sub_item
*/
#navCat {
  text-align: left;/* 왼쪽정렬 */
  padding: 0;
}
#navCat .tt_category li {
  margin: 15px auto;
}
#navCat .tt_category .newA ,
#navCat .tt_category a {
  display: block;
  border-bottom-width: 1px;
  padding: 3px 12px;
  transition: background-color 0.5s;
}
#navCat .tt_category .newA:hover ,
#navCat .tt_category a:hover {
  background-color: {{ var.defaultColor.highlight }};
  background-color: var(--highlight);
  color: black;
  font-weight: bold;
  transition-duration: 0s;
}
#navCat .category_list > li:not(.open) > .sub_category_list {
  display: none;
}
#navCat .newA::before {
  content: '\1F4C1';
}
#navCat li.open > .newA::before {
  content: '\1F4C2';
}
#navCat .link_item::before ,
#navCat .link_sub_item::before {
  content: '┣ ';
  color: {{ var.defaultColor.pointCol }};
  color: var(--pointCol);
}
#navCat li:last-child > .link_item::before ,
#navCat li:last-child > .link_sub_item::before {
  content: '┗ ';
}
#navCat .c_cnt {
  font-size: 90%;
  font-family: {{ var.font.deco }};
  color: grey;
}