/* 설정 */
.sidebar_elementMain.settings > * {
  margin: 15px 8px;
}

.settingForm.darkmode .option {
  margin: 3px;
  padding: 2px;
  border-width: 2px;
  border-radius: 10px 4px 4px 4px;
  font-size: 120%;
}
.settingForm.darkmode .optionRadio {
  appearance: none;
}
.settingForm.darkmode .optionRadio::before {
  content: '\2713';
}
.settingForm.darkmode .optionRadio:checked {
  color: var(--pointCol);
  font-size: 150%;
  font-weight: bold;
}

.fontsizeBtn {
  padding: 4px;
}