/**
메뉴 nav#navMenu ─ ul ─ li ─ a
*/
#navMenu {
  padding: 10px 10px;
}
#navMenu li {
  display: inline-block;
  margin: 5px;
  position: relative;
}
#navMenu li > a {
  display: block;
  padding: 10px 15px 10px 20px;
  border-radius: 0;
}
#navMenu li::before {/* 왼쪽장식 */
  content: '';
  height: 90%; width: 0;
  position: absolute;
  top: 5%; left: -1px;
  border-left: 4px dotted {{ var.defaultColor.backCol }};
  border-left: 4px dotted var(--backCol);
}