
/**### 목차 */
#bonmunHeadingList .num {
  font-weight: bold;
}
#bonmunHeadingList .numBlank {
  display: inline-block;
  height: 1em;
}
#bonmunHeadingList .numBlank2 {
  width: 0px;
}
#bonmunHeadingList .numBlank3 {
  width: 1em;
}
#bonmunHeadingList .numBlank4 {
  width: 2em;
}
#bonmunHeadingList .h2 .num {
  color: {{ var.defaultColor.pointCol }};
  color: var(--pointCol);
}
#bonmunHeadingList .h4 {
  font-size: 0.8em;
}
#bonmunHeadingList .current {
  font-weight: bold;
  background-color: {{ var.defaultColor.highlight }};
  background-color: var(--highlight);
  color: black;
}