/**### 블로그 description */
.sidebar_elementMain.description .linksBox {
  position: relative;
}
.sidebar_elementMain.description .linksBox > hr {
  margin: 10px 0;
  border: 2px dotted {{ var.defaultColor.borderCol }};
  border: 2px dotted var(--borderCol);
}
.sidebar_elementMain.description .linksBox > span {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: {{ var.defaultColor.listBack }};
  background-color: var(--listBack);
  padding: 7px;
  font-size: 75%;
  color: grey;
}