.homecoverSection {
  margin: 125px 0;
}
.homecoverSection .sectionTitle {
  margin-bottom: 52px;
}
.homecoverSection:first-child {
  margin-top: 20px;
}
.homecoverSection h1 {
  margin-left: 4%;
  margin-right: 6%;
}