.homecover.menubar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 6px solid {{ var.defaultColor.frameBack }};
  border-bottom: 6px solid var(--frameBack);
}
.homecover.menubar * {
  display: inline-block;
}

.homecover.menubar > nav {
  color:  {{ var.defaultColor.frameBack }};
  color: var(--frameBack);
}
.homecover.menubar > nav a {
  padding: 4px 8px;
  font-family: {{ settings.fontFamily.sticker.cssValue }};
  font-size: 135%;
}

.homecover.menubar > .blogSearch form {
  padding: 10px;
}
.homecover.menubar > .blogSearch input {
  width: 80%;
  max-width: 600px;
  font-size: 148%;
  text-align: center;
  padding: 10px;
}
