.homecover.menubar > * {
  margin: 40px auto;
}

.homecover.menubar > .blogSearch form {
  padding: 10px;
}
.homecover.menubar > .blogSearch input {
  width: 80%;
  max-width: 600px;
  font-size: 148%;
  text-align: center;
  padding: 10px;
}
