.homecover.menubar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2.5%;
  border-bottom: 6px solid {{ var.defaultColor.frameBack }};
  border-bottom: 6px solid var(--frameBack);
}
.homecover.menubar * {
  display: inline-block;
}

.homecover.menubar > nav {
  color:  {{ var.defaultColor.baseTextCol }};
  color: var(--baseTextCol);
}
.homecover.menubar > nav a {
  padding: 4px 8px;
  font-family: {{ settings.fontFamily.sticker.cssValue }};
  font-size: 135%;
}

.homecover.menubar > .blogSearch {
  padding: 10px;
  margin-left: auto;
}
.homecover.menubar > .blogSearch input {
  padding: 4px;
  border-radius: 5px;
  background-color: {{ var.defaultColor.listBack }};
  background-color: var(--listBack);
  font-size: 120%;
  text-align: right;
}
