.homecover.menubar {
  padding: 0 2.5%;
  border-bottom: 6px solid {{ var.defaultColor.frameBack }};
  border-bottom: 6px solid var(--frameBack);
}
.homecover.menubar * {
  display: inline-block;
}

.homecover.menubar > nav a {
  padding: 4px 8px;
  font-family: {{ settings.font.sticker }};
  font-size: 135%;
}
