{% extends "skin-comps/main/홈커버/items/base.html" %}
{% block content %}
<ul class="postList">
  <s_cover_item>
    <s_cover_item_article_info>
      <li>
        <div class="_backColSlightly"></div>
        <s_cover_item_thumbnail>
          <div class="_backColSlightly" style="
              background-color: unset;
              background-image: url('[##_cover_item_thumbnail_##]');
              background-size: cover;
              background-position: center;
          "></div>
        </s_cover_item_thumbnail>
        <a href="[##_cover_item_url_##]" style="display: block"><article class="postListItem">
          <div class="itemHead">
            <h2 class="title _textCenter _textShadowBackcol">[##_cover_item_title_##]</h2>
          </div>
          <div class="itemBody">
            <span class="content">[##_cover_item_summary_##]</span>
            <span class="date">[##_cover_item_simple_date_##].</span>
          </div>
        </article>
      </a></li>
    </s_cover_item_article_info>

    <s_cover_item_not_article_info>
      <li>
        <div class="_backColSlightly"></div>
        <s_cover_item_thumbnail>
          <div class="_backColSlightly" style="
              background-color: unset;
              background-image: url('[##_cover_item_thumbnail_##]');
              background-size: cover;
              background-position: center;
          "></div>
        </s_cover_item_thumbnail>
        <a href="[##_cover_item_url_##]" style="display: block"><article class="postListItem">
          <div class="itemHead">
            <h2 class="title _textCenter _textShadowBackcol">[##_cover_item_title_##]</h2>
          </div>
          <div class="itemBody">
            <span class="content">[##_cover_item_summary_##]</span>
          </div>
        </article>
      </a></li>
    </s_cover_item_not_article_info>
  </s_cover_item>
</ul>
{% endblock %}