.homecoverSection.train .postList > * {
  margin: 80px auto;
  max-width: 900px;
  position: relative;
  backdrop-filter: blur(4px);
}
.homecoverSection.train .postList > *:first-child {
  margin-top: 0;
}
.homecoverSection.train .postList > * > a {
  padding: 45px 3% 40px 3%;
  border-width: 1px;
  box-shadow: 0px 0px 10px #0002;
}
.homecoverSection.train .postList > * > a:hover {
  box-shadow: 0px 0px 10px #0004;
}
.homecoverSection.train .postListItem > .itemHead {/* 제목등 */
  margin-bottom: 35px;
}
.homecoverSection.train .title {/* 제목 */
  display: block;
  padding: 0 7%;
  font-size: 1.8em;
  letter-spacing: 0.06em;
  font-family: {{ var.font.title }};
}
.homecoverSection.train .postListItem > .itemBody {/* 본문등 */
  max-height: 6.4em;/* 본문 크기 제한 */
  overflow: hidden;
}
.homecoverSection.train .content {/* 본문 */
  line-height: 1.6;
  font-size: 1.1em;
}
.homecoverSection.train .date {/* 날짜등 */
  font-family: {{ var.font.deco }};
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.homecoverSection.train > .more {
  display: block;
  margin: 80px auto;
  box-sizing: border-box;
  max-width: 900px;
  padding: 20px 3%;
  border-width: 1px;
  text-align: center;
  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
}