.homecoverSection.train .postList > * {
  margin: 80px auto;
  max-width: 900px;
  position: relative;
  backdrop-filter: blur(4px);
}
.homecoverSection.train .postList > *:first-child {
  margin-top: 0;
}

.homecoverSection.train .postList > * > a {
  padding: 45px 35px 40px 35px;
  border-width: 1px;
}
.homecoverSection.train .postListItem > .itemHead {/* 제목등 */
  margin-bottom: 35px;
}
.homecoverSection.train .title {/* 제목 */
  display: block;
  padding: 0 7%;
  font-size: 1.8em;
  letter-spacing: 0.06em;
}
.homecoverSection.train .postListItem > .itemBody {/* 본문등 */
  max-height: 6.4em;/* 본문 크기 제한 */
  overflow: hidden;
}
.homecoverSection.train .content {/* 본문 */
  line-height: 1.6;
  font-size: 1.1em;
}
.homecoverSection.train .date {/* 날짜등 */
  font-family: {{ settings.fontFamily.handwriting.cssValue }};
  position: absolute;
  right: 2px;
  bottom: 2px;
}