/* 배경 그림 */
#backImgBox .backImg {
  width: 100%;
  height: 100vh;
  position: fixed;
}
body:not(.theme-light) .backImg.light {
  display: none;
}
body:not(.theme-dark) .backImg.dark {
  display: none;
}
#backImgBox .backImg.cover {
  background-position: center;
  background-size: cover;
}
#backImgBox .backImg.stretch {
  background-size: 100vw 100vh;
}
#backImgBox .backImg.pos_1 {
  background-position: top left;
}
#backImgBox .backImg.pos_2 {
  background-position: top center;
}
#backImgBox .backImg.pos_3 {
  background-position: top right;
}
#backImgBox .backImg.pos_4 {
  background-position: center left;
}
#backImgBox .backImg.pos_5 {
  background-position: center;
}
#backImgBox .backImg.pos_6 {
  background-position: center right;
}
#backImgBox .backImg.pos_7 {
  background-position: bottom left;
}
#backImgBox .backImg.pos_8 {
  background-position: bottom center;
}
#backImgBox .backImg.pos_9 {
  background-position: bottom right;
}
#backImgBox .backImg {
  background-repeat: no-repeat;
}
#backImgBox .backImg.repeat_x {
  background-repeat: repeat-x;
}
#backImgBox .backImg.repeat_y {
  background-repeat: repeat-y;
}
#backImgBox .backImg.repeat_x.repeat_y {
  background-repeat: repeat;
}
#backImgBox .backImg.fit {
  background-size: auto 100%;
}
@media (max-aspect-ratio: 1/1) {
  #backImgBox .backImg.fit {
    background-size: 100% auto;
  }
}
#backImgBox .backImg.scroll {
  background-size: 0;
}