footer {
  border-top-width: 9px;
  border-top-style: double;
  padding: 60px 6% 20px 6%;
  font-size: 90%;
}
footer .sectionTitle {
  margin-bottom: 52px;
}

#footerContentBox {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#footerContentBox > * {
  width: 260px;
  margin: 10px 10px 30px auto;
  padding: 20px 10px;
}
#footerContentBox > * > .areaTitle {
  border-right-width: 6px;
  padding-right: 8px;
  text-align: right;
}
#footerContentBox > * > hr {
  border-top-width: 1px;
  margin: 20px 0 30px 0;
}
#footerContentBox > * > .content {
  text-align: left;
}

#footerContentBox > .nuguisho > .content {
  min-height: 100px;
  line-height: 1.6;
}
#footerContentBox > .nuguisho .blogImg {
  width: 3em;
  height: 3em;
  margin: 0.1em 8px 0.1em 0.1em;
  border-radius: 50%;
  float: left;
}
#footerContentBox > .nuguisho .blogger {
  margin-bottom: 10px;
}
#footerContentBox > .nuguisho .desc {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
#footerContentBox > .links ul {
  padding: 0 16px;
}
#footerContentBox > .links li {
  margin: 10px 0;
}
#footerContentBox > .links img {
  width: 2em;
  height: 2em;
  vertical-align: bottom;
  margin-right: 5px;
}

footer > .etc {
  border-top-width: 1px;
  margin-top: 30px;
}
footer > .etc > * {
  margin: 20px 0;
}