footer {
  margin-top: 80px;
  border-top: 9px double {{ var.defaultColor.borderCol }};
  border-top: 9px double var(--borderCol);
  padding: 60px 6% 50px 6%;
  text-align: right;
}

footer > .content > * {
  margin-top: 20px;
}