/**# ν—¤λ”, ν‘Έν„° */
header {
  margin-right: 2%;
  border-bottom-right-radius: 50px;
  text-align: center;
  background-color: {{ var.defaultColor.frameBack }};
  background-color: var(--frameBack);
  color: {{ var.defaultColor.frameFore }};
  color: var(--frameFore);
}
header .title {
  font-family: {{ settings.font.sticker }};
  font-weight: inherit;
}
header .blogger {
  font-family: {{ settings.font.userName }};
}

body#tt-body-index header > .alt {
  display: none;
}
body:not(#tt-body-index) header > .namecard {
  display: none;
}

header > .alt {
  display: block;
  padding: 30px 10%;
}

header > .namecard {
  margin: 0 auto;
  padding: 40px 20px 60px 20px;
  max-width: 760px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

header > .namecard .box1 {
  margin: auto;
  padding: 10px;
}

header > .namecard .imgBox {
  position: relative;
  padding: 2px;
  border-radius: 50%;
  background: conic-gradient(#f00, #f80, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
header > .namecard .blogImg {
  position: relative;
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid currentColor;
  z-index: 1;
}
header > .namecard .blogImgBack {
  position: absolute;
  top: 4px;/* imgBox padding + blogImg border/2 */
  left: 4px;
  display: block;
  width: 164px;/* blogImg size + blogImg border */
  height: 164px;
  border-radius: 50%;
  background-color: currentColor;
}

header > .namecard .box1 {
  flex-grow: 0;
}
header > .namecard .box2 {
  flex-grow: 1;
  max-width: 500px;
  margin: 0 auto;
}

header > .namecard .box2 > * {
  margin: 9px;
}

header > .namecard .blogLinks > * {
  margin: 8px 4px;
}
header > .namecard .blogLinks a {
  display: inline-block;
}
header > .namecard .blogLinks img {
  height: 1.2em;
  vertical-align: text-bottom;
}