/**# ν—¤λ”, ν‘Έν„° */
header {
  margin-right: 2%;

  text-align: center;
  background-color: #114;
  background-color: var(--frameBack);
  color: #fff;
  color: var(--frameFore);
  font-family: {{ settings.fontFamily.sticker.cssValue }};
}
header {
  border-bottom-right-radius: 60px;
}
header a {
  display: block;
  padding: 30px 10%;
}