
/**# 세로중앙
세로중앙 div#mainV
│
├사이드바상자1 div#sidebarBox1.sidebarBox.sidebarBoxV
│├사이드바1 aside#sidebar1.sidebar.sidebarV
│└펼접버튼 button.sidebarBtn
│
├가로메인상자 div#mainHBox
│└가로메인 div#mainH
│　├최근공지 div#recentNotice
│　├메인 main#main
│　│└(페이지마다 다른 내용물들)
│　├페이징
│　└하단잡영역 div#under
│
└사이드바상자2 div#sidebarBox2.sidebarBox.sidebarBoxV
　├사이드바2 aside#sidebar2.sidebar.sidebarV
　└사이드바2리모콘 div#sidebar2Remocon
*/
#mainV {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}
#mainH {
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (max-width: 500px) {
  body#tt-body-category #mainH ,
  body#tt-body-page #mainH {
    overflow-x: hidden;/* decoBox의 기울임때문에 조금 삐져나감 */
  }
}