#upperbar {
  padding-left: 30px;
  padding-right: 7%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}
#upperbar :not(script) {
  display: inline-block;
}

#blogMenu > ul > * {
  margin: 0 5px 5px 0;
  vertical-align: top;
}
#blogMenu a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 4px 10px;
}
body.theme-light #blogMenu > ul > * > a {
  border-color: transparent;
}
#blogMenu > ul > :nth-child(6n) > a {
  background-color: hsl(30, 100%, 50%, 20%);
  border-color:     hsl(30, 100%, 50%, 50%);
}
#blogMenu > ul > :nth-child(6n+5) > a {
  background-color: hsl(60, 100%, 40%, 20%);
  border-color:     hsl(60, 100%, 40%, 50%);
}
#blogMenu > ul > :nth-child(6n+4) > a {
  background-color: hsl(110, 90%, 45%, 20%);
  border-color:     hsl(110, 90%, 45%, 50%);
}
#blogMenu > ul > :nth-child(6n+3) > a {
  background-color: hsl(200, 100%, 50%, 20%);
  border-color:     hsl(200, 100%, 50%, 50%);
}
#blogMenu > ul > :nth-child(6n+2) > a {
  background-color: hsl(265, 100%, 70%, 20%);
  border-color:     hsl(265, 100%, 70%, 50%);
}
#blogMenu > ul > :nth-child(6n+1) > a {
  background-color: hsl(315, 90%, 50%, 20%);
  border-color:     hsl(315, 90%, 50%, 50%);
}

#blogSearch-openBtn {
  padding: 0px 6px;
}
