#upperbar {
  padding-left: 30px;
  padding-right: 7%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#upperbar *:not(script) {
  display: inline-block;
}

#blogMenu {
  vertical-align: top;
}
#blogMenu a {
  margin: 0 5px 5px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 4px 10px;
}
body:not(.theme-dark) #blogMenu > ul > * > * {
  border-color: transparent;
}
#blogMenu > ul > *:nth-child(6n+1) > * {
  background-color: hsl(220 100% 50% / 20%);
  border-color: hsl(220 100% 50% / 50%);
}
#blogMenu > ul > *:nth-child(6n+2) > * {
  background-color: hsl(260 100% 60% / 20%);
  border-color: hsl(260 100% 60% / 50%);
}
#blogMenu > ul > *:nth-child(6n+3) > * {
  background-color: hsl(310 100% 50% / 20%);
  border-color: hsl(310 100% 50% / 50%);
}
#blogMenu > ul > *:nth-child(6n+4) > * {
  background-color: hsl(17 100% 50% / 20%);
  border-color: hsl(17 100% 50% / 50%);
}
#blogMenu > ul > *:nth-child(6n+5) > * {
  background-color: hsl(44 100% 50% / 20%);
  border-color: hsl(44 100% 50% / 50%);
}
#blogMenu > ul > *:nth-child(6n) > * {
  background-color: hsl(100 100% 50% / 20%);
  border-color: hsl(100 100% 50% / 50%);
}
