
/**### 태그 페이지 */
/* 태그 클래스별 스타일은 랜덤태그 모듈과 같은 스타일 */
#tagBox {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.9;
  font-weight: 400;
}
#tagBox li {
  display: inline-block;
}
#tagBox a {
  margin: 10px;
}
#tagBox a::before {
  content: '#';
  color: {{ var.defaultColor.borderCol }};
  color: var(--borderCol);
}
#tagBox .tagcloud1 {
  font-size: 180%;
  color: {{ var.defaultColor.pointCol }};
  color: var(--pointCol);
}
#tagBox .tagcloud2 {
  font-size: 180%;
}
#tagBox .tagcloud3 {
  font-size: 150%;
}
#tagBox .tagcloud4 ,
#tagBox .tagcloud5 {
  display: none;
}

#tagChosongsBoxOuter {
  position: sticky;
  top: -16px;
  z-index: 1;
  text-align: center;
}
#tagChosongsBox {
  position: relative;
  bottom: -16px;
}
#tagChosongsBox button {
  padding: 3px 4px;
  margin: 3px;
  min-width: 24px;
}

#main4.tagBoxOrdered {
  font-size: 135%;/* 모듈에서보단 좀 크게 보이기 */
  font-weight: 400;
}
#main4.tagBoxOrdered .bucket {
  margin-bottom: 20px;
  padding: 0 20px;
}
#main4.tagBoxOrdered h4 {
  padding-top: 60px;
  font-size: 200%;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  font-family: {{ var.font.title }};
}
#main4.tagBoxOrdered .list {
  padding: 10px;
  list-style: disc;
  color: {{ var.defaultColor.bonmunTextCol }};
  color: var(--bonmunTextCol);
}
#main4.tagBoxOrdered li {
  margin: 10px;
}
#main4.tagBoxOrdered li::first-letter {
  color: var(--pointCol);
}
