
*/*div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td, figure, p, button */{
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  border-color: #DDDDDD;
  border-color: var(--borderCol);
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
  overflow: visible;
  cursor: pointer;
  line-height: 1;
}
label {
  word-break: keep-all;
}
button, input, textarea {
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}
button {
  color: inherit;
}
ol , ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover , a:hover * {
  text-decoration: underline;
}
b {
  font-weight: bold;
}
small {
  font-size: 0.8em;
  color: grey;
}
strong {
  font-family: {{ settings.font.sans }};
  font-weight: bold;
}
pre , code {
  font-family: {{ settings.font.monospace }};
  word-break: keep-all;
}
::selection {/* 커서로 긁은 부분 텍스트 색 */
  background-color: {{ var.defaultColor.highlight }};
  background-color: var(--highlight);
  color: black;
}