
body:not(.login-owner) .onlyForOwner {
  display: none !important;
}
body:not(#tt-body-index) .onlyOnPage-index {
  display: none !important;
}
body:not(#tt-body-page) .onlyOnPage-page {
  display: none !important;
}

/* 숨김 */
.hidden {
  display: none !important;
}
/* 텍스트 */
._textCenter {
  text-align: center;
}
._textRight {
  text-align: right;
}
._textLeft {
  text-align: left;
}
._fontLarger {
  font-size: 120%;
}
._fontSmaller {
  font-size: 80%;
}
._fontBold {
  font-weight: bold;
}
/* 글자색 */
.red        { color:            #d04 }
.redBack    { background-color: #d044 }
.yellow     { color:            #a80 }
.yellowBack { background-color: #a804 }
.green      { color:            #2a0 }
.greenBack  { background-color: #2a04 }
.blue       { color:            #07e }
.blueBack   { background-color: #07e4 }
.purple     { color:            #93f }
.purpleBack { background-color: #81f4 }
.grey       { color:            #888 }
.bold       { font-weight:      bold; }

._backCol {
  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
}
._backColSlightly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 25%;
  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
}
._textShadowBackcol {
  text-shadow: 1px 1px 0px {{ var.defaultColor.backCol }};
  text-shadow: 0px 0px 5px var(--backCol), 1px 1px 0 var(--backCol);
}
