
hr.areaSeparator {
  width: 60%;
  margin: 60px auto;
  border-top-width: 4px;
  border-top-style: dashed;
}

.themeBtn {
  border-width: 1px;
  border-radius: 8px;
  background-color: {{ var.defaultColor.frameBack }};
  background-color: var(--frameBack);
  color: {{ var.defaultColor.frameFore }};
  color: var(--frameFore);
  font-family: {{ settings.fontFamily.sticker.cssValue }};
  transition: background-color 1.5s;
  line-height: 1;
}
body.theme-light .themeBtn {
  border-color: #0000;
}
body.theme-dark .themeBtn {
  border-color: 1px solid {{ var.defaultColor.frameFore }};
  border-color: 1px solid var(--frameFore);
}
.themeBtn:hover {
  background-color: {{ var.defaultColor.highlight }};
  background-color: var(--highlight);
  color: black;
  transition: background-color 0s;
}
.themeInput {
  border-bottom: 7px solid {{ var.defaultColor.frameBack }};
  border-bottom: 7px solid var(--frameBack);
  border-radius: 4px;
  padding: 5px;
  background-color: {{ var.defaultColor.listBack }};
  background-color: var(--listBack);
}

.sectionTitle {
  margin-bottom: 52px;
  text-align: right;
  font-family: {{ settings.fontFamily.serif.cssValue }};
  font-size: 180%;
  letter-spacing: 0.16em;
}
.sectionTitle span {
  border-bottom-width: 10px;
}

.pageTitle {
  margin: 80px auto;
  font-family: {{ settings.fontFamily.serif.cssValue }};
  font-size: 250%;
  font-weight: 600;
  color: {{ var.defaultColor.bonmunTextCol }};
  color: var(--bonmunTextCol);
  text-align: center;
}

.decoBox {
  z-index: 10;
}
.tape {
  position: absolute;
  display: block;
  background-color: #fff4;
  border: 1px solid #0003;
  pointer-events: none;
}