
<!--▶ 목록 -->
<div>
{% include "liststyle/controller/_.html" %}
  <s_list_empty><div>텅</div><!-- TODO --></s_list_empty>
  <ul id="postList" class="[##_list_style_##]">
    <s_list_rep><li><a href="[##_list_rep_link_##]" style="display: block"><section class="postListItem">
      <div class="thumbnail">
        <s_list_rep_thumbnail><img loading="lazy" src="[##_list_rep_thumbnail_##]"></s_list_rep_thumbnail>
      </div>
      <div class="itemHead">
        <h2 class="title">[##_list_rep_title_##]</h2>
        <span class="category">[##_list_rep_category_##]</span>
      </div>
      <div class="itemBody">
        <span class="content">[##_list_rep_summary_##]</span>
        <span class="itemTail">
          <span class="date">[##_list_rep_regdate_##].</span>
          <span class="writer">[##_list_rep_author_##]</span>
        </span>
      </div>
      <span class="tape"></span>
    </section></a></li></s_list_rep>
  </ul>

  <script>//{% include "skin-comps/main/글목록페이지/목록.js" %}
  </script>
</div>