/**##### 복잡 목록 detailed */
#postList.detailed > */*li*/ {
  margin: 10px 0;
  border-bottom-width: 3px;
  border-bottom-style: double;
}
#postList.detailed > */*li*/ > */*a*/ {
  padding: 10px 10px;
  min-height: 98px;
}
#postList.detailed .thumbnail ,/* 줄줄이 다 inline */
#postList.detailed .itemHead , 
#postList.detailed .title , 
#postList.detailed .itemBody {
  display: inline;
}
#postList.detailed .thumbnail {/* 썸네일 */
  display: inline-block;
  padding: 2px 10px;
  float: left;
}
#postList.detailed .thumbnail img {
  height: 90px;
  max-width: 180px;
}
#postList.detailed .noThumbnail {
  display: none;
}
#postList.detailed .title {
  text-shadow: 1px 1px 3px {{ var.defaultColor.backCol }};
  text-shadow: 1px 1px 3px var(--backCol);
}
#postList.detailed .category::before {
  content: '\007E';/* ~ */
}
#postList.detailed .category ,
#postList.detailed .date ,
#postList.detailed .writer {
  font-family: {{ settings.fontFamily.handwriting.cssValue }};
  font-size: 0.8em;
  margin: 0px 10px;
}
#postList.detailed .searchword {/* 검색어 강조 */
  background-color: {{ var.defaultColor.highlight }};
  background-color: var(--highlight);
  color: black;
}