/**##### 작은 메모 postit */
#postList.postit {
  width: 94%;
  max-width: 700px;
  margin: 50px auto;
}
#postList.postit .thumbnail ,/* 나머지 요소 숨김 */
#postList.postit .content ,
#postList.postit .writer {
  display: none;
}
#postList.postit > */*li*/ {
  margin: 15px auto;/* 간격 */
  box-shadow: 1px 1px 7px {{ var.defaultColor.borderCol }};/* 그림자 */
  box-shadow: 1px 1px 7px var(--borderCol);/* 그림자 */
  position: relative;/* 날짜 위치잡기용 */
  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
}
#postList.postit .tape {/* 왼쪽장식 */
  width: 12px;
  height: 100%;
  top: 0px;
  left: -10px;
  border-width: 0px;
  transition-duration: 0.5s;
}
#postList.postit > :hover .tape {/* 마우스 올린 항목 장식 늘어남 */
  width: 52px;
  left: -50px;
  transition-duration: 0.1s;
}
#postList.postit > */*li*/ > */*a*/ {
  padding: 20px 10px;
}
/* 왼쪽장식 무지개 색 */
#postList.postit > :nth-child(8n+1) .tape {background-color: hsl(8,   100%, 60%, 50%);}
#postList.postit > :nth-child(8n+2) .tape {background-color: hsl(38,  100%, 50%, 50%);}
#postList.postit > :nth-child(8n+3) .tape {background-color: hsl(58,  100%, 44%, 50%);}
#postList.postit > :nth-child(8n+4) .tape {background-color: hsl(90,   95%, 45%, 50%);}
#postList.postit > :nth-child(8n+5) .tape {background-color: hsl(185,  90%, 45%, 50%);}
#postList.postit > :nth-child(8n+6) .tape {background-color: hsl(230,  80%, 65%, 50%);}
#postList.postit > :nth-child(8n+7) .tape {background-color: hsl(270,  90%, 55%, 50%);}
#postList.postit > :nth-child(8n)   .tape {background-color: hsl(305,  90%, 50%, 50%);}
#postList.postit .title {/* 제목 */
  display: inline;
  font-size: 120%;
  font-weight: normal;
  font-family: {{ var.font.title }};
}
#postList.postit .category {/* 카테고리 */
  font-family: {{ var.font.deco }};
  font-size: 90%;
}
#postList.postit .category::before {
  content: '~';
}
#postList.postit .itemTail {/* 날짜 위치: 바닥 오른쪽 */
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 0.8em;/* 날짜 작게 */
}