<!doctype html>
<html lang="ko" style="background-color: black; color: white;">
<head>
<title>[##_page_title_##] ♥ [##_title_##]</title>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- STYLE -->
<link rel="stylesheet" type='text/css' href="./style.css">
<!-- 사용자 지정 색 -->
<style>{% include "skin-comps/color-scheme.css" %}</style>

<script>
//{% include "skin-comps/init.js" %}
</script>

</head>


<body id="[##_body_id_##]"><s_t3>
<script>
//{% include "skin-comps/settings.js" %}

//// 블로그 주인 로그인 확인
document.body.classList.add('login-' + T.config.ROLE);
</script>

<div id="backImgBox">
  <s_if_var_backImg_light><div class="backImg light [##_var_backImgType_light_##]" style="background-image: url('[##_var_backImg_light_##]');" ></div></s_if_var_backImg_light>
  <s_if_var_backImg_dark><div  class="backImg dark  [##_var_backImgType_dark_##]"  style="background-image: url('[##_var_backImg_dark_##]');"  ></div></s_if_var_backImg_dark>
</div>

{% include "skin-comps/global/header.html" %}

<!--# 메인영역1 -->
<div id="main1">
{% include "skin-comps/global/sidebars/sidebar1.html" %}
{% include "skin-comps/global/main2.html" %}
{% include "skin-comps/global/sidebars/sidebar2.html" %}
</div><!-- 메인영역1 #-->

{% include "skin-comps/global/sidebars/sidebar3.html" %}

<script>
//{% include "skin-comps/global/sidebars/sidebars.js" %}
</script>

{% include "skin-comps/global/footer.html" %}

</s_t3></body>
</html>
