@charset "utf-8";

/* Web Font */
{% for name, value in fonts.items() %}
@import url('{{ value.url }}');
{% endfor %}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 300;
  font-family: {{ settings.font.base }};
}
@media (max-width: 1215px) {
  html {font-size: 17.5px;}
@media (max-width: 1130px) {
  html {font-size: 17px;}
@media (max-width: 1045px) {
  html {font-size: 16.5px;}
@media (max-width: 960px) {
  html {font-size: 16px;}
@media (max-width: 875px) {
  html {font-size: 15.5px;}
@media (max-width: 790px) {
  html {font-size: 15px;}
@media (max-width: 705px) {
  html {font-size: 14.5px;}
@media (max-width: 620px) {
  html {font-size: 14px;}
}}}}}}}}

body {
  position: relative;

  width: 100%;
  min-width: 350px;
  max-width: 100vw;
  min-height: 100vh;

  background-color: {{ var.defaultColor.backCol }};
  background-color: var(--backCol);
  color: {{ var.defaultColor.baseTextCol }};
  color: var(--baseTextCol);
}
body.world2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body > * {
  position: relative;
}

{% include "style/base.css" %}
{% include "style/styling-classes.css" %}
{% include "style/theme.css" %}



{% include "skin-comps/frame/style.css" %}
{% include "skin-comps/main/홈커버/style.css" %}
{% include "skin-comps/sidebars/sidebar.css" %}



{% include "skin-comps/최근공지/_.css" %}

{% include "skin-comps/main/페이징/_.css" %}



/**### 메인 - 공통 */
#main4 {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: dashed;
  backdrop-filter: blur(4px);
}

{% include "skin-comps/main/게시글/style.css" %}

{% include "skin-comps/main/리스트/style.css" %}

{% include "skin-comps/main/태그페이지/style.css" %}





{% include "skin-comps/rebellion.css" %}

#skin-version:not(.v{{ meta.version_l }})::after {
  color: #eb0;
  content: "v{{ meta.version_l }}";
}
