@charset "utf-8";

/* Web Font */
{% for name, value in settings.fontFamily.items() %}
@import url('{{ value.url }}');
{% endfor %}

html {
  width: 100%;
  height: 100%;
  font-family: {{ settings.fontFamily.sans.cssValue }};
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 1300px) {
  html {font-size: 17px;}
}
@media (max-width: 800px) {
  html {font-size: 16px;}
}
body {
  position: relative;

  width: 100%;
  min-width: 350px;
  max-width: 100vw;
  min-height: 100vh;

  background-color: #fff;
  background-color: var(--backCol);
  color: #333;
  color: var(--baseTextCol);
}

{% include "style/base.css" %}
{% include "style/styling-classes.css" %}
{% include "style/theme.css" %}
{% include "skin-comps/component_templates/블로그링크.css" %}



{% include "skin-comps/frame/style.css" %}
{% include "skin-comps/main/홈커버/style.css" %}
{% include "skin-comps/sidebars/style.css" %}




/**## 메인영역2 */
{% include "skin-comps/최근공지/_.css" %}

{% include "skin-comps/main/페이징/_.css" %}



/**### 메인 - 공통 */
#main4 {
  backdrop-filter: blur(5px);
}

{% include "skin-comps/main/게시글/style.css" %}

{% include "skin-comps/main/리스트/style.css" %}

{% include "skin-comps/main/태그페이지/style.css" %}





{% include "skin-comps/rebellion.css" %}
