body:not(.world2) #world2 {
  display: none;
}
body.world2 #world2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  backdrop-filter: blur(4px);
  text-align: center;
  background-color: #000b;
  color: white;
  font-size: 135%;
}

#world2 > .close {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 4%;
  font-size: 150%;
}
#world2 > .content {
  position: absolute;
  top: 8%;
  left: 2%;
  width: 96%;
  height: 90%;
  overflow-y: auto;
}
#world2 > .content {
  scrollbar-width: none;/* Firefox 스크롤바 숨기기 */
}
#world2 > .content::-webkit-scrollbar {/* Chrome, Edge 등 스크롤바 숨기기 */
  display: none;
}
#world2 > .content > * {
  margin-bottom: 100px;
}
#world2 .pageTitle {
  margin-bottom: 40px;
  font-size: 120%;
  text-shadow: unset;
  color: inherit;
}
#world2 .pageTitle::before ,
#world2 .pageTitle::after {
  content: ' ◆ ';
  vertical-align: middle;
  font-size: 60%;
  color: var(--pointCol);
}

#blogSearchInput ,
#tagSearchInput {
  padding: 4px 8px;
  border-bottom: 4px solid white;
  border-radius: 5px;
  background-color: #3338;
  text-align: right;
  font-size: 120%;
}

#blogSearchInput {
  width: 50%;
  min-width: 300px;
  max-width: 700px;
}

#tagSearchInput {
  width: 300px;
}
#tagSearch .areaTitle {
  margin-bottom: 20px;
}
#tagSearch .result:not(.fetched) .tagBoxBox {
  display: none;
}
#tagSearch .tagcloud::before {
  content: '#';
  color: grey;
}
#tagSearch .tagcloud::after {
  font-size: 60%;
  color: grey;
}
#tagSearch .tagcloud1::after {  content: '★★★';  color: var(--highlight);}
#tagSearch .tagcloud2::after {  content: '★★';}
#tagSearch .tagcloud3::after {  content: '★';}
#tagSearch .tagcloud4::after {  content: '☆';}
#tagSearch .searchResult {
  margin: 0 auto 30px auto;
  max-width: 300px;
  text-align: left;
}
#tagSearch .searchResult .tagcloud {
  margin: 8px 0;
  display: block;
}
#tagSearch .tagBox-pop .tagcloud {
  margin: 5px 8px;
  display: inline-block;
  position: relative;
}
#tagSearch .tagBox-pop .tagcloud::after {
  display: block;
}
#tagSearch .searchResult > hr {
  border-top: 1px dotted grey;
}
#tagSearch > .result .match {
  font-weight: bold;
  color: {{ var.defaultColor.highlight }};
  color: var(--highlight);
}