#world2:not(.open) {
  display: none;
}
#world2.open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
#world2 {
  backdrop-filter: blur(3px);
  text-align: center;
  background-color: #0008;
  color: white;
  font-size: 135%;
}

#world2 > .close {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 4%;
  font-size: 150%;
}
#world2 > .content {
  position: absolute;
  top: 8%;
  left: 2%;
  width: 96%;
  height: 90%;
  overflow-y: auto;
}
#world2 > .content {
  scrollbar-width: none;/* Firefox 스크롤바 숨기기 */
}
#world2 > .content::-webkit-scrollbar {/* Chrome, Edge 등 스크롤바 숨기기 */
  display: none;
}
#world2 > .content > * {
  margin-bottom: 100px;
}
#world2 .areaTitle {
  margin-bottom: 40px;
}
#world2 .areaTitle::before ,
#world2 .areaTitle::after {
  content: ' ◆ ';
  vertical-align: middle;
  font-size: 60%;
  color: var(--pointCol);
}

#blogSearchInput {
  padding: 4px 8px;
  width: 50%;
  min-width: 300px;
  max-width: 700px;
  border-bottom: 4px solid white;
  border-radius: 5px;
  background-color: #3338;
  text-align: right;
  font-size: 120%;
}

#world2 .randomtags .tagcloud {
  margin: 0.2em 15px;
}
#world2 .randomtags p {
  margin: 0 auto;
  max-width: 1000px;
}