#blog-home-introduction > * {
  margin: 40px auto;
}

#blog-home-introduction > .namecard {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#blog-home-introduction > .namecard .blogImg {
  max-width: 220px;
  max-height: 220px;
}

#blog-home-introduction > .namecard .box1 {
  flex-grow: 0;
}
#blog-home-introduction > .namecard .box2 {
  flex-grow: 1;
}

#blog-home-introduction > .namecard .box2 > * {
  margin: 9px;
}

#blog-home-introduction > .blogSearch form {
  padding: 10px;
}
#blog-home-introduction > .blogSearch input {
  width: 80%;
  font-size: 148%;
  text-align: center;
  padding: 10px;
}
