/* 홈에서는 홈커버만 보임 */
body#tt-body-index #main1 ,
body#tt-body-index #sidebar3 ,
body#tt-body-index .hideAtHome-1 {
  display: none;
}

/* 최근공지 */
#homecover .recentNoticeListBox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: right;
}
#homecover .recentNoticeListBox .pushpin {
  position: absolute;
  top: -14px;
  right: 15px;
}
#homecover .recentNoticeListBox ul {
  list-style: none;
}
#homecover .recentNoticeListBox li {
  margin: 10px 0;
  padding: 20px 60px 20px 20px;
  list-style: none;
  background-color: #f4f4f4;
  background-color: var(--listBack);
}

{% include "skin-comps/main/홈커버/introduction.css" %}

{% include "skin-comps/main/홈커버/items/base.css" %}
{% for cover_name, value in settings.homecover.items() %}
  {% include "skin-comps/main/홈커버/items/" + cover_name + ".css" %}
{% endfor %}