
/* [티스토리] 스타일 덮어쓰기 */

/* 첨부파일 */
figure.fileblock, #tt-body-page figure.fileblock {
  border: 1px solid var(--borderCol);
  border-right-width: 0px;
  background-color: {{ var.defaultColor.listBack }};
  background-color: var(--listBack);
}
figure.fileblock a, #tt-body-page figure.fileblock a {
  border-right: 8px solid {{ var.defaultColor.bonmunActing }};
  border-right: 8px solid var(--bonmunActing);
}
figure.fileblock .filename, #tt-body-page figure.fileblock .filename {
  color: {{ var.defaultColor.bonmunTextCol }};
  color: var(--bonmunTextCol);
}
figure.fileblock a::after, #tt-body-page figure.fileblock a::after {/* 다운로드 아이콘 */
  background-image: unset;
}
figure.fileblock .image, #tt-body-page figure.fileblock .image {/* 첨부파일 아이콘 */
  background-image: url('./images/bonmun-file.png');
  background-size: 30px 30px;
}


/* 네임카드 */
.tt_box_namecard {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 500px;
  min-height: 160px;
  background-color: {{ var.defaultColor.listBack }};
  background-color: var(--listBack);
  color: {{ var.defaultColor.baseTextCol }};
  color: var(--baseTextCol);
}
.tt_box_namecard .tt_tit_cont {
  color: {{ var.defaultColor.baseTextCol }};
  color: var(--baseTextCol);
}
.tt_box_namecard .tt_btn_subscribe .tt_txt_g {
  color: {{ var.defaultColor.baseTextCol }};
  color: var(--baseTextCol);
}
.tt_box_namecard .tt_btn_subscribe .tt_txt_g::after {
  content: " +";
}
.tt_img_area_reply {
  display: none;
}

/* 미친 */
.adsbygoogle {
  display: none !important;
}
