<s_rp><!--▶ 댓글 --><div id="commentSec" class="postPage">
  <h1 class="areaTitle">댓글</h1>

{% with
  type='rp',
  name='댓글',
  s_for_member='s_rp_guest',
  textarea_name='[##_rp_input_comment_##]',
  s_reply_container='s_rp2_container',
  s_reply_rep='s_rp2_rep'
%}
{% include "skin-comps/main/댓글과방명록/base/목록.html" %}

  <p class="listMsg"></p>

{% include "skin-comps/main/댓글과방명록/base/폼.html" %}
{% endwith %}

  <p class="formMsg"></p>

  <script type="text/javascript">
    //// 댓글목록 비었으면 표시
    if( document.querySelector('#commentSec .commentList').childElementCount === 0 ){
      document.querySelector('#commentSec .listMsg').innerText = '댓글이 없습니다.';
    }
    if( document.querySelector('#commentSec .formBox').childElementCount === 0 ){
      document.querySelector('#commentSec .formMsg').innerText = '댓글 비허용 글입니다.';
    }
  </script>
</div></s_rp>